@font-face {
    src: url('./Fonts/Prince Valiant.ttf');
    font-family: 'Script';
}

@font-face {
    src: url('./Fonts/LinLibertine_aDRS.ttf');
    font-family: 'Serif';
}

@font-face {
    src: url('./Fonts/Cardinal.ttf');
    font-family: 'Cardinal';
}

#load {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    background: #fff;
    z-index: 50000;
}

body,
html {
    user-select: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

body {
    background-size: cover !important;
    background-repeat: no-repeat !important; 
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mascot {
    max-height:500px;
    max-width:500px;
    /*display:none;*/
}

.clock {
    position:absolute;
    top:0.15em;
    left:0.2em;
    /*-moz-text-fill-color: white;
    -webkit-text-fill-color: white;
    -moz-text-stroke-color: #f05c9b;
    -webkit-text-stroke-color: #f05c9b;
    -moz-text-stroke-width: 3px;  
    -webkit-text-stroke-width: 3px;*/
    font-size:12em;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    color: #000000 !important;
     -webkit-text-stroke: 1px black;
    color: black;
    text-shadow: 
        3px 3px 0 #fff,
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
}
}

#header {
    text-align: center;
    margin-bottom: 0.5em;
}

p {
    margin: 0;
    color: #fff;
    font-family: 'Serif';
}

.slogan {
    position:absolute;
    top:1.6em;
    left:0.5em;
    font-size: 7em;
    font-family: 'Script';
    letter-spacing: 0.5px;
     -webkit-text-stroke: 1px black;
    color: black;
    text-shadow: 
        3px 3px 0 #fff,
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
}

#search {
    position:absolute;
    top:20em;
    left:4em;
}

#search form {
    text-align:center !important;
}

#search input {
    height: 15px;
    width: 200px;
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 10px;
    font-family: 'Cardinal';
    font-size: 1.05em;
    text-align:center !important;
}

#search input:focus {
    outline: 0;
    color: #606060;
}
